[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cvlib = "*"
opencv-python-headless = "*"
pillow = "*"
tensorflow = "*"
unicorn = "*"
python-multipart = "*"
fastapi = "*"
nest-asyncio = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.10"
